.create-ctn {
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 900px;
    gap: 10px;
    /* max-height: 800px; */
}

.create-wrapper {
    display: flex;
    gap: 10px;
}

.create-main {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    /* border: 1px solid var(--main-color); */
}

.screenshot-img {
    width: 100%;
    height: 100%;
}

.create-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    /* border: 1px solid var(--main-color); */
}

.create-sticker {
    width: 8rem;
    height: 8rem;
    /* margin: 5px 5px; */
    border-radius: 5px;
    object-fit: cover;
}

.create-footer {
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--main-color);
}

.create-footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.create-footer-wrapper:last-of-type {
    align-items: center;
    border-left: 1px solid var(--main-color);
}

.create-footer-select-camera {
    margin: 10px 10px 0 10px;
}

.create-footer-buttons,
.create-footer-buttons-options {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 10px 10px 10px;
}

.create-footer-title-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
}

.create-footer-title-input input,
.create-footer-buttons input,
.custom-select {
    border: 1px solid var(--second-color);
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 5px;
}

.screenshot-btn {
    width: 13rem;
}

.create-footer textarea {
    border: 1px solid var(--second-color);
    resize: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 5px;
}