@media (max-width: 1570px) {
    .main-right {
        width: 0;
    }

    .main-center {
        border-right: 0;
    }
}

@media (max-width: 1220px) {
    .main-left {
        width: 90px;
    }

    .left-btn {
        justify-content: center;
    }

    .left-btn img {
        margin: 0;
    }

    .left-btn span {
        display: none;
    }

    .header span {
        display: none;
    }

    .create-wrapper {
        flex-direction: column;
    }

    .create-side {
        height: 100px;
        width: 100%;
    }
}

@media (max-width: 750px) {
    .main-left {
        width: 0;
    }

    .left-btn img {
        display: none;
    }

    .main-center {
        border-left: 0;
    }

    .main-left-ctn {
        display: none;
    }

    .bottom-navbar {
        display: flex;
    }

    .profile-ctn {
        padding-bottom: 3.5rem;
    }

    .home-ctn {
        margin-bottom: 6rem;
    }

    .create-ctn {
        margin-bottom: 6rem;
    }

    .navbar {
        display: none;
    }

    .dropdown-btn-ctn {
        display: block;
    }

    .individual-post-ctn {
        flex-direction: column;
    }
    
    .individual-post-picture {
        flex: 4
    }

    .individual-post-header-ctn {
        display: none;
    }

    .individual-post-comments-ctn {
        flex: 0;
        border-left: 0;
        border-top: 1px solid var(--main-color);
    }

    .individual-post-main-ctn ul {
        display: none;
    }

    .individual-post-comment-input-ctn {
        border: none;
    }
}

@keyframes change-page {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}