.settings-ctn {
    width: 800px;
    margin: 2rem 2rem 0 2rem;
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

.settings-title {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin: 1.5rem 1.5rem 2rem 1.5rem;
}

.settings-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.settings-section:nth-last-child(2) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    /* margin-top: 2rem; */
}

.settings-section:last-child {
    border-top: 1px solid var(--main-color);
    font-weight: 500;
}

.settings-section #settings-response {
    /* display: flex; */
    text-align: center;
    margin: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
}

.settings-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 399px;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.settings-form-wrapper label {
    margin-bottom: 5px;
    font-weight: 500;
}

.settings-form-wrapper textarea {
    border: 1px solid var(--second-color);
    resize: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 5px;
}

.settings-form-wrapper input {
    border: 1px solid var(--second-color);
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 5px;
}

.settings-checkbox {
    margin: 1.5rem;
}