.settings-ctn {
    display: flex;
    /* max-width: 800px; */
    flex-wrap: wrap;
    
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin-top: 20px;
}

.settings-form {
    display: flex;
    align-items: center;
    padding: 10px;
    /* padding: 10px;
    gap: 50px; */
    /* border-bottom: 1px solid var(--main-color); */
}

.settings-form input {
    border: 1px solid var(--main-color);
    /* background-color: var(--second-color); */
}

.settings-form textarea {
    border: 1px solid var(--main-color);
    resize: none;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}