{% extends "index.html" %}

{% block main %}

<div class="home">
    <div class="home-left">
        <div class="left-ctn">
            <!-- <a href="#home"> -->
                <button class="left-btn" onclick="changePage('home')">
                    <img class="left-btn-image" id='homeIcon' src="static/img/home-empty.png">
                    <p class="left-btn-text"> Home </p>
                </button>
            <!-- </a> -->
            <!-- <a href="#create"> -->
                <button class="left-btn" onclick="changePage('create')"> 
                    <img class="left-btn-image" id='createIcon' src="static/img/post-empty.png">
                    <p class="left-btn-text"> Create </p>
                </button>
            <!-- </a> -->
            <!-- <a href="#profile"> -->
                <button class="left-btn" onclick="changePage('profile')">
                    <img class="left-btn-image" id='profileIcon' src="static/img/user-empty.png">
                    <p class="left-btn-text"> Profile </p>
                </button>
            <!-- </a> -->
            <!-- <a href="#notifications"> -->
                <button class="left-btn" onclick="changePage('notifications')">
                    <img class="left-btn-image" id='notificationsIcon' src="static/img/notification-empty.png">
                    <p class="left-btn-text"> Notifications </p>
                </button>
            <!-- </a> -->
            <!-- <a href="#settings"> -->
                <button class="left-btn" onclick="changePage('settings')">
                    <img class="left-btn-image" id='settingsIcon' src="static/img/setting-empty.png">
                    <p class="left-btn-text"> Settings </p>
                </button>
            <!-- </a> -->
        </div>
    </div>
    <div class="home-center">
        <div class="anim-center" id="anim-center">
            <div class="profile-ctn">
                <div class="profile-header">
                    <div class="profile-avatar-ctn">
                        <img class="profile-avatar" alt="Avatar" src="static/img/lol2.JPG">
                    </div>
                    <section class="profile-infos-ctn">
                        <div class="profile-username">
                            <a>
                                Gverhelp
                            </a>
                        </div>
                        <div class="profile-stats">
                            <a>
                                Stats
                            </a>
                        </div>
                        <div class="profile-bio">
                            <a>
                                Bio
                            </a>
                        </div>
                    </section>
                </div>
                <div class="gallery-ctn">
                    {% for i in range(20) %}
                        <div class="gallery-item" tabindex="0">
                            <img class="gallery-image" src="static/img/lol.JPG">
                            <div class="gallery-item-infos">
                                <img class="gallery-like" src="static/img/white-heart.png">
                                <a>
                                    1500
                                </a>
                                <img class="gallery-comment" src="static/img/white-comment.png">
                                <a>
                                    200
                                </a>
                            </div>
                        </div>
                        <div class="gallery-item" tabindex="0">
                            <img class="gallery-image" src="static/img/lol2.JPG">
                            <div class="gallery-item-infos">
                                <img class="gallery-like" src="static/img/white-heart.png">
                                    <a>
                                        1500
                                    </a>
                                <img class="gallery-comment" src="static/img/white-comment.png">
                                    <a>
                                        200
                                    </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="home-right">
    </div>
</div>

{% endblock %}