{% extends "index.html" %}

{% block main %}

<div class="home">
    <a class="left">
        <div class="left-ctn">
            <button class="left-btn" onclick="changeLeftIcon('homeIcon')">
                <img class="left-btn-image" id='homeIcon' src="static/img/home-empty.png">
                 <p class="left-btn-text"> Profile </p>
            </button>
            <button class="left-btn" onclick="changeLeftIcon('createIcon');"> 
                <img class="left-btn-image" id='createIcon' src="static/img/post-empty.png">
                <p class="left-btn-text"> Create </p>
            </button>
            <button class="left-btn" onclick="changeLeftIcon('userIcon')">
                <img class="left-btn-image" id='userIcon' src="static/img/user-empty.png">
                 <p class="left-btn-text"> Profile </p>
            </button>
            <button class="left-btn" onclick="changeLeftIcon('notificationIcon')">
                <img class="left-btn-image" id='notificationIcon' src="static/img/notification-empty.png">
                <p class="left-btn-text"> Notifications </p>
            </button>
            <button class="left-btn" onclick="changeLeftIcon('settingsIcon')">
                <img class="left-btn-image" id='settingsIcon' src="static/img/setting-empty.png">
                <p class="left-btn-text"> Settings </p>
            </button>
        </div>
    </a>
    <a class="center">
        {% for i in range(5) %}
        <div class="post">
            <div class="post-header">
                <div class="post-avatar">
                    <img src="static/img/pepe.jpeg" alt="Avatar" style="width: 100%; height: auto;">
                </div>
                    <p> Pepe <br/> Frog </p>
            </div>
            <div class="post-body">
                <img class="post-pictures" src="static/img/lol2.JPG">
            </div>
            <div class="post-footer">
                <button class="post-footer-btn" onclick="changeLikeButton()">
                    <div class="post-footer-btn-ctn">
                        <img src="static/img/heart.png" id="heart" alt="like" style="width: auto; height: 80%">
                        1300
                    </div>
                </button>
                <button class="post-footer-btn">
                    <div class="post-footer-btn-ctn">
                        <img src="static/img/comment2.png" alt="comments" style="width: auto; height: 80%">
                        1340
                    </div>
                </button>
            </div>
        </div>
        {% endfor %}
    </a>
    <a class="right">
    </a>
</div>

{% endblock %}