body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, system-ui;
}

/*##########################################################################*/
/*##########################################################################*/
/*####                              Header                              ####*/
/*##########################################################################*/
/*##########################################################################*/

.header {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(210, 210, 210);
  height: 65px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header a.logo {
  flex: 100%;
  height: 100%;
}

.header a.search {
  height: 100%;
  flex: 100%;
  display: flex;
  align-items: center;
}

.header a.auth {
  height: 100%;
  display: flex;
  flex: 100%;
  align-items: center;
  justify-content: flex-end;
}

.image {
  margin-left: 35px;
  width: auto;
  height: 100%;
  animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: margin-left 0.8s;
}

/*##########################################################################*/
/*##########################################################################*/
/*####                          Search bar                              ####*/
/*##########################################################################*/
/*##########################################################################*/

.search-box {
  display: flex;
  flex: 1;
  height: 70%;
  opacity: 1;
  transition: opacity 0.3s;
}

.searchbar {
  background-color: rgb(230, 230, 230);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
  border: 1px solid rgba(170, 170, 170, 0);
}

.searchbar:hover {
  border: 1px solid rgb(213, 51, 105);
}

.search-input {
  background-color: rgb(230, 230, 230);
  display: flex;
  flex: 1;
  border: none;
  font-size: medium;
  margin-left: 20px;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  width: 50px;
  border: none;
  background-color: rgb(220, 220, 220);
}

.search-btn:hover {
  background-color: rgb(210, 210, 210);
}

/*##########################################################################*/
/*##########################################################################*/
/*####                         Sign buttons                             ####*/
/*##########################################################################*/
/*##########################################################################*/

.signup-btn {
  height: 70%;
  width: 100px;
  border: none;
  font-size: medium;
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
  margin-right: 10px;
}

.signup-btn:hover {
  border: 1px solid rgb(213, 51, 105);
}

.signin-btn {
  height: 70%;
  width: 100px;
  border: none;
  font-size: medium;
  background: linear-gradient(45deg, #daae51 0%, #d53369 100%);
  /* background-size: 400% 400%; */
  border-radius: 20px;
  margin-right: 20px;
}

.signin-btn:hover {
  /* background: linear-gradient(45deg, #daae51 0%, #d53369 100%); */
  background-size: 400% 400%;
  animation-name: ani-btn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/*##########################################################################*/
/*##########################################################################*/
/*####                       Page / Keyframes                           ####*/
/*##########################################################################*/
/*##########################################################################*/

@media screen and (max-width: 750px) {
  .search-box {
    /* display: none; */
    opacity: 0;
  }
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes ani-btn {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
  /* 100% {
    background-position: 0% 50%;
  } */
}