body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(252, 252, 251);
  border-bottom: 1px solid rgb(210, 210, 210);
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); */
}

.header a.logo {
  flex: 100%;
  animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.header a.search {
  flex: 100%;
  align-items: center;
}

.header a.auth {
  flex: 100%;
}

.image {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  /* animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: forwards; */
}

.search-box {
  padding: 6px;
  display: flex;
  flex: 1;
  height: 35px;
}

.searchbar {
  background-color: rgb(230, 230, 230);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
  padding-left: 20px;
  border: 1px solid rgb(170, 170, 170);
}

.searchbar:hover {
  border: 1px solid rgb(183, 15, 131);
}

.search-input {
  background-color: rgb(230, 230, 230);
  display: flex;
  flex: 1;
  border: none;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  width: 50px;
  border-right: 1px solid rgb(170, 170, 170);
  border-top: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(170, 170, 170);
  border-left: none;
  background-color: rgb(220, 220, 220);
}

.search-btn:hover {
  background-color: rgb(210, 210, 210);
}

@media screen and (max-width: 750px) {
  .search-box {
    display: none;
  }
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}