.home {
    display: flex;
    position: relative;
    height: 100%;
    /* height: calc(100% - 66px); ca pue faut changer */
}

.home a.left {
    width: 600px;
    background-color: var(--home-bg);
}

.home a.center {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 66px;
    overflow-y: scroll;
    border-right: 1px solid var(--home-border);
    border-left: 1px solid var(--home-border);
}

.home a.right {
    width: 600px;
    background-color: var(--home-bg);
}

.post {
    width: 700px;
    border-radius: 20px;
    border: 1px solid var(--home-border);
    margin: 30px;
}

.post:hover {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(210, 210, 210, 0);
}

.post-header {
    display: flex;
    height: 60px;
    padding: 20px;
    align-items: center;
}

.post-body {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.post-footer {
    display: flex;
    height: 55px;
    padding: 5px;
    align-items: center;
}

.footer-btn {
    display: flex;
    border-radius: 20px;
    height: 35px;
    background-color: rgb(230, 230, 230);
    border: none;
    margin-left: 15px;
    align-items: center;
}

.footer-btn-ctn {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 7px;
    margin-right: 10px;
}

.footer-btn:hover {
    background-color: rgb(220, 220, 220);
}

.pictures {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .home a.left {
      display: none;
    }
}

@media screen and (max-width: 750px) {
    .home a.right {
      display: none;
    }
}