/*##########################################################################*/
/*##########################################################################*/
/*####                               Home                               ####*/
/*##########################################################################*/
/*##########################################################################*/

.home {
    display: flex;
    position: relative;
    height: 100%;
}

.home a.left {
    width: 350px;

    display: flex;
    justify-content: center;
    margin-top: 66px;
    transition: width 0.3s;
}

.home a.center {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    margin-top: 66px;
    overflow-y: scroll;
    border-right: 1px solid rgb(210, 210, 210);
    border-left: 1px solid rgb(210, 210, 210);
}

.home a.right {
    width: 350px;

    /* min-width: 300px; */
    margin-top: 66px;
    transition: width 0.3s;
}

/*##########################################################################*/
/*##########################################################################*/
/*####                               Posts                              ####*/
/*##########################################################################*/
/*##########################################################################*/

.post {
    display: flex;
    flex-direction: column;
    /* width: 700px; */
    flex: 1;
    max-width: 800px;
    border-radius: 20px;
    border: 1px solid rgb(210, 210, 210);
    margin: 30px;
}

.post:hover {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(210, 210, 210, 0);
}

.post-header {
    display: flex;
    height: 60px;
    padding: 20px;
    align-items: center;
}

.post-body {
    display: flex;
    /* justify-content: center; */
    margin-left: 20px;
    margin-right: 20px;
}

.post-footer {
    display: flex;
    height: 55px;
    padding: 5px;
    align-items: center;
}

.post-footer-btn {
    display: flex;
    border-radius: 20px;
    height: 35px;
    background-color: rgb(230, 230, 230);
    border: none;
    margin-left: 15px;
    align-items: center;
}

.post-footer-btn-ctn {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 7px;
    margin-right: 10px;
}

.post-footer-btn:hover {
    background-color: rgb(220, 220, 220);
}

.post-pictures {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.post-avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 20px;
    overflow: hidden;
}

/*##########################################################################*/
/*##########################################################################*/
/*####                         Left container                           ####*/
/*##########################################################################*/
/*##########################################################################*/

.left-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

.left-btn {
    display: flex;
    align-items: center;
    height: 50px;
    width: 275px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.3s;
    border-bottom: 1px solid rgb(210, 210, 210);
    border-top: none;
    border-left: none;
    border-right: none;
    transition: width 0.3s;
}

.left-btn:hover {
    border-bottom: 1px solid rgb(213, 51, 105);
    transform: translateY(-2px);
}

.left-btn:focus {
    font-weight: bold;
}

.left-btn-image {
    width: auto;
    height: 30px;
}

.left-btn-text {
    padding-left: 10px;
    font-size: large;
}

.createPost-btn:hover {
    background-size: 400% 400%;
    animation-name: ani-btn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/*##########################################################################*/
/*##########################################################################*/
/*####                       Page / Keyframes                           ####*/
/*##########################################################################*/
/*##########################################################################*/

@media screen and (max-width: 1570px) {
    .home a.right {
      width: 0;
    }
}

@media screen and (max-width: 1220px) {
    .home a.left {
        width: 120px;
    }
    .left-btn-text {
      display: none;
    }
    .left-ctn {
        width: 100px;
    }
    .left-btn {
        width: 80px;
        padding-left: 0px;
        justify-content: center;
        padding: 0px;
    }
    .image {
        margin-left: 20px;
    }
}

@media screen and (max-width: 750px) {
    .home a.left {
        width: 0;
    }
    .left-ctn {
        display: none;
    }
}