@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --main-color: rgb(230, 230, 230);
    --second-color: rgb(200, 200, 200);
    --bg-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
    --second-text-color: rgb(255, 255, 255);
}

image,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

.dark-mode {
    --main-color: rgb(55, 68, 77);
    --second-color: rgb(200, 200, 200);
    /* --bg-color: rgb(21, 32, 43); */
    --bg-color: rgb(0, 0, 0);
    --text-color: rgb(255, 255, 255);
    --second-text-color: rgb(255, 255, 255);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    height: 100%;
}

body {
    font-size: 1.6rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100%;
    transition: .1s ease-out;
}

/*##########################################################################*/
/*##########################################################################*/
/*####                              Header                              ####*/
/*##########################################################################*/
/*##########################################################################*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 3%;
    border-bottom: 1px solid var(--main-color);
    background-color: var(--bg-color);
    z-index: 100;
}

.logo {
    display: flex;
    flex: 1;
    align-items: center;
    height: 5rem;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    color: var(--text-color);
    font-weight: 600;
}

.logo img {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 3rem;
    height: 5rem;
    /* max-width: 45rem; */
    min-width: 25rem;
    background-color: var(--main-color);
    overflow: hidden;
    border: 1px solid transparent;
}

.searchbar:hover {
    border: 1px solid var(--second-color);
}

.searchbar input {
    display: flex;
    flex: 1;
    margin-left: 2rem;
    font-size: 1.5rem;
    height: 60%;
    background: transparent;
    border-right: .5px solid var(--second-color);
}

.searchbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    background-color: var(--main-color);
}

.searchbar button:hover {
    background-color: rgb(220, 220, 220);
}

.searchbar img {
    width: 5rem;
    height: 3rem;
    filter: invert(55%) sepia(9%) saturate(2%) hue-rotate(314deg) brightness(91%) contrast(92%);
}

.navbar {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.navbar-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 5rem;
    font-size: 1.8rem;
    font-weight: 500;
    padding-inline: 1.5rem;
    border-radius: 2.5rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}

.navbar-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: width .3s;
}

.switchTheme-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5rem;
    height: 5rem;
    margin-left: 1.5rem;
    cursor: pointer;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    background-color: var(--bg-color);
}

.switchTheme-btn:hover {
    background-color: var(--main-color);
}

.navbar-btn:hover::before {
    width: 100%;
}

/*##########################################################################*/
/*##########################################################################*/
/*####                               Main                               ####*/
/*##########################################################################*/
/*##########################################################################*/

.main-ctn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 6.5rem;
    height: 100%;
}

.main-center {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    border-left: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
}

.main-center-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: change-page .3s forwards;
}

.main-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    transition: width .3s;
}

.main-right {
    width: 300px;
    transition: width .3s;
}

.main-left-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    width: 25rem;
}

/*##########################################################################*/
/*##########################################################################*/
/*####                           Main left                              ####*/
/*##########################################################################*/
/*##########################################################################*/

.left-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
    height: 5rem;
    cursor: pointer;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--main-color);
    color: var(--text-color);
    transition: transform .3s;
    /* transition: transform 0.2s; */
}

.left-btn:hover {
    transform: translateY(-2px);
}

.left-btn:focus {
    border-bottom: 1px solid var(--text-color);
    font-weight: 800;
}

.left-btn img {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

/*##########################################################################*/
/*##########################################################################*/
/*####                             Profile                              ####*/
/*##########################################################################*/
/*##########################################################################*/

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 800px;
    margin-inline: 1rem;
}

.profile-header {
    display: flex;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.profile-avatar-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.profile-avatar-ctn img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile-infos {
    display: grid;
    flex: 1;
    grid-template-rows: repeat(3, 1fr);
}

.profile-infos-username {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8rem;
}

.profile-infos-stats {
    display: flex;
    align-items: center;
    gap: 10%;
}

.profile-infos-stats li {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.profile-infos-stats li span {
    margin-right: .5rem;
    font-weight: 600;
}

.profile-infos-bio {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.profile-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
    padding-block: 2rem;
    border-top: 1px solid var(--main-color);
}

.gallery-item {
    display: flex;
    position: relative;
    cursor: pointer;
    aspect-ratio: 1;
    border-radius: 5px;
    overflow: hidden;
}

.gallery-item:hover .gallery-item-infos {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-infos {
    display: none;
    z-index: 1;
}

.gallery-item-infos img {
    width: 2rem;
    height: auto;
    margin-inline: 1rem .5rem;
}

.gallery-item-infos span {
    font-size: 1.6rem;
    font-size: 600;
    color: rgb(255, 255, 255);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.7rem 3%;
    border-top: 1px solid var(--main-color);
    background-color: var(--bg-color);
    z-index: 100;
}

.bottom-navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 3.5rem;
    cursor: pointer;
    background-color: var(--bg-color);
}

.bottom-navbar-btn img {
    height: 3rem;
    width: 3rem;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 101;
}

/*##########################################################################*/
/*##########################################################################*/
/*####                              Modal                               ####*/
/*##########################################################################*/
/*##########################################################################*/

.modal svg {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.modal svg:active {
    color: rgb(150, 150, 150);
}

/*##########################################################################*/
/*##########################################################################*/
/*####                        Sign containers                           ####*/
/*##########################################################################*/
/*##########################################################################*/

.sign {
    display: flex;
    height: 640px;
    width: 400px;
    background: linear-gradient(60deg, #f79533, #E94A3A, #f37055, #ef4e7b, #a166ab, #97187C, #821C7B);
    animation: animate-zoom 0.3s, animate-gradient 3s ease alternate infinite;
    padding: 5px;
    border-radius: 13px;
    background-size: 300% 300%;
}

.sign-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: 10px;
}

.auth-input {
    height: 4rem;
    width: 25rem;
    border-radius: 20px;
    background-color: var(--main-color);
    margin-top: 20px;
    padding-left: 20px;
}

.auth-input:last-of-type {
    margin-bottom: 20px;
}

.auth-input:focus {
    outline: 1px solid rgb(213, 51, 105);
}

.auth-btn {
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
    border-radius: 20px;
    cursor: pointer;
}

.auth-btn:hover {
    border-color: var(--second-color);
}

@keyframes animate-zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@keyframes animate-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*##########################################################################*/
/*##########################################################################*/
/*####                         Dropdown menu                            ####*/
/*##########################################################################*/
/*##########################################################################*/

.dropdown-btn-ctn {
    display: none;
    flex: 1;
}

.dropdown-btn {
    float: right;
    width: 3rem;
    height: 3rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
}

.dropdown__menu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 75px;
    right: 10px;
    z-index: 101;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border: 1px solid var(--main-color);
}

.dropdown__menu.open {
    display: flex;
}

.dropdown-menu-btn {
    background-color: var(--bg-color);
    font-size: 1.8rem;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    color: var(--text-color);
}

.dropdown-menu-btn:hover {
    background-color: var(--second-color);
}

/*##########################################################################*/
/*##########################################################################*/
/*####                             Home                                 ####*/
/*##########################################################################*/
/*##########################################################################*/

.home-ctn {
    display: flex;
    flex-direction: column;
}

.post-ctn {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 2rem;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
}

.post-ctn:hover {
    background-color: var(--main-color);
}

.post-header {
    display: flex;
    align-items: center;
    height: 60px;
    margin: 20px;
}

.post-header-infos {
    margin-left: 2rem;
}

.post-header-infos h3 {
    font-size: 1.8rem;
    font-weight: 700;
}

.post-header-infos p {
    font-size: 1.5rem;
    font-weight: 500;
}

.post-main {
    display: flex;
    margin-inline: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.post-main img {
    width: 100%;
    height: 100%;
}

.post-footer {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 55px;
    margin: 10px 20px;
}

.post-avatar {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border-radius: 50%;
}

.post-footer-btn {
    display: flex;
    height: 4.5rem;
    width: 10rem;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
    color: var(--text-color);
    border-radius: 20px;
    cursor: pointer;
}

.post-footer-btn:hover {
    background-color: var(--second-color);
}

.post-footer-btn svg {
    height: 3rem;
    width: 3rem;
}

.post-footer-btn span {
    margin-left: 1rem;
}

/*##########################################################################*/
/*##########################################################################*/
/*####                       Page / Keyframes                           ####*/
/*##########################################################################*/
/*##########################################################################*/

@media (max-width: 1570px) {
    .main-right {
        width: 0;
    }

    .main-center {
        border-right: 0;
    }
}

@media (max-width: 1220px) {
    .main-left {
        width: 120px;
    }

    .main-left-ctn {
        width: 9rem;
    }

    .left-btn {
        justify-content: center;
    }

    .left-btn img {
        margin-right: 0;
    }

    .left-btn span {
        display: none;
    }

    .header span {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .main-left {
        width: 0;
    }

    .main-center {
        border-left: 0;
    }

    .main-left-ctn {
        display: none;
    }

    .bottom-navbar {
        display: flex;
    }

    .profile-content {
        padding-bottom: 4rem;
    }

    .home-ctn {
        margin-bottom: 6rem;
    }

    .navbar {
        display: none;
    }

    .dropdown-btn-ctn {
        display: block;
    }
}

@keyframes change-page {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}