{% macro macro(current_user) %}

<div class="header">
    <a class="logo">
        <img class="image" src="static/img/instgram.png">
    </a>
    <a class="search">
        <div class="search-box">
            <div class="searchbar" onmouseover="changeFilter(1)" onmouseout="changeFilter(0)">
                <input class="search-input" type="text" placeholder="Search">
            </div>
            <button class="submit search-btn" onmouseover="changeFilter(1)" onmouseout="changeFilter(0)">
                <img id="google" class="search-icon" src="static/img/searchIcon.svg" width="25px">
            </button>
        </div>
    </a>
    <a class="auth">
        <button class="signup-btn" onclick="modalSignDisplay('signup')">Sign Up</button>
        <button class="signin-btn" onclick="modalSignDisplay('signin')">Sign In</button>
    </a>
</div>

{% endmacro %}