<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Instgram</title>

	<link rel="stylesheet" href="static/css/style.css">
	<link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
</head>

<body>
	<!-- header design  -->
	<header class="header">
		<a class="logo">
			<img id="logoIcon" src="static/img/instgram-black.png" alt="logo">
			<span>Instgram</span>
		</a>

		<div class="searchbar">
			<input type="text" placeholder="Search">
			<button>
				<img src="static/img/searchIcon.svg">
			</button>
		</div>

		<nav class="navbar">
			<button id="switchThemeBtn" class="switchTheme-btn">
				<img id="themeIcon" src="static/img/moon-outlined.svg">
			</button>
			<button class="navbar-btn">Sign Up</button>
			<button class="navbar-btn">Sign In</button>
		</nav>
	</header> 

	<!-- main design -->
	<div class="main-ctn">

		<div class="main-left">
			<div class="main-left-ctn">
				<button id="homeBtn" class="left-btn">
					<img id='homeIcon' src="static/img/home-outlined.svg">
					<span> Home </span>
				</button>
				<button id="createBtn" class="left-btn">
					<img id='createIcon' src="static/img/create-outlined.svg">
					<span> Create </span>
				</button>
				<button id="profileBtn" class="left-btn">
					<img id='profileIcon' src="static/img/profile-outlined.svg">
					<span> Profile </span>
				</button>
				<button id="settingsBtn" class="left-btn">
					<img id='settingsIcon' src="static/img/settings-outlined.svg">
					<span> Settings </span>
				</button>
			</div>
		</div>

    	<div class="main-center">
			<div class="content-main-ctn">

			</div>
		</div>

		<div class="main-right">
		</div>

	</div>
</body>
	<script src="static/js/script.js"></script>
</html>