{% import "macros/macro.html" as macro %}

<html>
    <head>
        <title>Instgram</title>
        <link rel="icon" type="image/png" href="static/img/instgram.png">
        <link rel="stylesheet" href="static/css/header.css"/>
        <link rel="stylesheet" href="static/css/page.css"/>
        <link rel="stylesheet" href="static/css/modal.css"/>
        <link rel="stylesheet" href="static/css/createPost.css"/>
    </head>
    <body>
        {% include 'auth/sign.html' %}
        <header>
            <!-- Header content goes here -->
            {{ macro.header(current_user) }}
        </header>
        <main>
            <!-- Main content of the page goes here -->
            {% block main %} {% endblock %}
        </main>
        <footer>
            <!-- Footer content goes here -->
            {% block footer %} {% endblock %}
        </footer>
    </body>

    <script src="static/js/script.js"></script>
</html>