<div class="modal" id="modal" onclick="login()">
    <div class="signin-grade">
        <div class="sign" id="signin" hidden>
            <form class="sign-ctn">
                <img class="image" src="static/img/instgranm.png" style="margin-bottom: 40px; width: 135px; height: auto;">
                <input class="auth-input" placeholder="Username">
                </input>
                <input class="auth-input" placeholder="Password" type="password">
                </input>
                <button class="auth-btn"> Submit </button>
            </form>
        </div>
    </div>
    <div class="sign" id="signup" hidden>
        <form class="sign-ctn">
            <img class="image" src="static/img/instgranm.png" style="margin-bottom: 40px; width: 135px; height: auto;">
            <input class="auth-input" placeholder="Username">
        </input>
            <input class="auth-input" placeholder="Email" type="email">
            </input>
            <input class="auth-input" placeholder="Password" type="password">
            </input>
            <button class="auth-btn"> Submit </button>
        </form>
    </div>
</div>